// CSS reset
@import "~bootstrap/scss/bootstrap";
*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  outline: none !important;
}
// styles
@import "homePage";
